<title>LaunchDarkly server-side bootstrapping demo</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<script src="https://unpkg.com/event-source-polyfill@0.0.12/src/eventsource.min.js"></script>
<script src="https://app.launchdarkly.com/snippet/ldclient.min.js"></script>
<script>
    window.ldBootstrap=<%-JSON.stringify(allFlags)%>
    window.ldClientsideId="<%=clientsideId%>"
    window.ldUser=<%-JSON.stringify(user)%>
</script>